<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index_styles.css') }}">
    <title>Flask App</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Document Classifier Model</h1>
            <p class="limited-width">This is an document classifier model solution. To use the service, please upload your file below and then press the button. The file content is evaluated using a machine learning procedure and then you receive the answer about the document type.</p>

            <form action="/" method="post" enctype="multipart/form-data">
                <label for="file">Choose a file:</label>
                <input type="file" id="file" name="file" class="file-upload">
				<br>
                <input type="submit" value="Upload" class="submit-btn">
            </form>
			
			<!-- here is the message received from flash, we can display them into an alert box -->
			{% with messages = get_flashed_messages() %}
                {% if messages %}
                    <script>
                        alert("{{ messages[0] }}");
                    </script>
                {% endif %}
            {% endwith %}
			
        </div>
    </div>
</body>
</html>
